:root {
  --primary-color: #3AB9A0;
  --secondary-color: #E9A60F;
  --background-dark: #000B10;
  --surface-color: #1D1D1D;
  --text-main: #FFFFFF;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-color: rgba(255, 255, 255, 0.1);
  --font-family: 'Space Grotesk', sans-serif;
  --font-mono: 'Fragment Mono', monospace;
}
