<header class="header">
  <a routerLink="/" class="logo-group">
    <div class="logo-icon"><div class="logo-inner-square"></div></div>
    <div class="logo-text">CineCore</div>
  </a>

  <nav class="nav-group">
    @if (isAuthPage) {
      <a routerLink="/how-to-use" routerLinkActive="active-link" class="nav-link">How to Use</a>
    }

    @else if (isLoggedIn) {
      @if (!isDashboardPage) {
        <a routerLink="/how-to-use" routerLinkActive="active-link" class="nav-link">How to Use</a>
      }

      @if (!idProjectsPage) {
        <button class="btn btn-new-project">Create New Project</button>
      }

      <a routerLink="/account" class="user-profile-chip">
        <div class="user-avatar-gradient">
          {{ userInitials }}
        </div>
        <span class="user-name-text">{{ userData?.firstName }}</span>
      </a>
    }

    @else {
      <a routerLink="/how-to-use" routerLinkActive="active-link" class="nav-link">How to Use</a>
      <a routerLink="/login" routerLinkActive="active-link" class="nav-link">Log In</a>
      <button routerLink="/signup" class="btn btn-signup">Sign Up</button>
    }
  </nav>
</header>
